<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> طلب خدمة </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [hidden]="isiteService.db.order.service !== null">
  <ion-list>
    <ion-item
      (click)="selectService(s)"
      button
      *ngFor="let s of isiteService.db.serviceList; index as position"
    >
      <ion-label>{{s.name}}</ion-label>
      <ion-avatar slot="start">
        <img src="{{s.logo_url}}" />
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content [hidden]="isiteService.db.order.service === null">
  <h1 (click)="selectService(null)">
    نوع الخدمة
    <a> {{isiteService.db.order.service?.name}} </a>
  </h1>

  <ion-item>
    <ion-checkbox
      [ngModel]="isiteService.db.order.danger"
      slot="start"
    ></ion-checkbox>

    <ion-label> طلب مستعجل أو حالة طوارئ </ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> ايه طلباتك ؟ </ion-label>
    <ion-textarea
      [ngModel]="isiteService.db.order.description"
      placeholder="أكتب شرح مختصر لما تحتاجة"
    ></ion-textarea>
  </ion-item>
  <ion-button color="success" (click)="addPhotoToGallery()">
    <ion-icon name="camera"></ion-icon>
    ارفاق صور
  </ion-button>

  <ion-grid>
    <ion-img
      *ngFor="let photo of isiteService.db.photoService.photos; index as position"
      [src]="photo.webviewPath"
      (click)="showActionSheet(photo, position)"
    ></ion-img>
  </ion-grid>

  <ion-button> أرسال الطلب </ion-button>
</ion-content>
